:root {
  // Colors

  // Blue
  --dark-blue: #172234;

  // Brown
  --brown-light: #b29f7e;
  --brown-1: #8a5c2e;

  // White
  --white: #FFFFFF;

  // Grey
  --grey-1: #E0E0E0;

  // Red
  --red-1: red;

  // Fonts

  // Font family
  --font-family-base: 'Merriweather', sans-serif;
  --font-family-lato: 'Lato', sans-serif;

  // Font sizes
  --font-size-h1: 64px;
  --font-size-body-1: 24px;
  --font-size-body-2: 18px;
  --font-size-btn-1: 16px;
  --font-size-btn-2: 20px;

  // Font weight
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}
